.header {
    background-color: #fff;
}

.logo {
    font-size: 24px;
    color: burlywood;
    font-weight: bold;
}

.logo img {
    display: inline-block;
    margin-right: 8px;
    margin-top: -2px;
}

.user {
    float: right;
}

.sectionSider {
    height: calc(100vh - 64px);
}

.sectionContent {
    padding: 22px;
}

.content {
    background-color: #fff;
    border-radius: 10px;
    padding: 24px;
}